<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="../public/todo.css"/>
<body>
    <form action="/routes/addtask" method="post">
        <div class="task-input">
            <input type="text" name="task" id="task" placeholder="Enter New Task...">
            <button class="addtask-btn" type="submit">Add   +</button>
         </div>
    </form>

    <div class="white-task-container">
        <% data.forEach(datas => { %>
            <div class="task">
                <div class="left-task">
                    <input type="checkbox" name="checkbox-input" class="check-with-label" id="">
                    <label for="checkbox-input" class="label-for-check"><%= datas.task %></label>
                    <p class="date">created <%= datas.CreatedAt.toLocaleString() %></p>
                </div>
                <div class="close">
                    <a href="/routes/delete/<%=datas.id%>">x</a>
                </div>
           </div>
         
        <% }) %>
 
    </div>
</body>
</html>

<script>

    let check_with_label = document.querySelectorAll('.check-with-label')
    let date = document.querySelectorAll('.date')

    check_with_label.forEach(checkbox => {
      let ischecked = checkbox.checked
       if(!check_with_label.checked == true){
        console.log("checked")
       }else{
        console.log('not')
       }
        
    });
    



</script>